apiVersion: v1
kind: Secret
metadata:
  name: {{ git_repository }}
  namespace: openshift-gitops
  labels:
    argocd.argoproj.io/secret-type: repo-creds
stringData:
  type: git
  url: {{ git_url }}
  sshPrivateKey: |-
    {{ git_private_key}}