---
apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  name: {{ machineset_name | to_json }}
  namespace: openshift-machine-api
  labels:
    machine.openshift.io/cluster-api-cluster: {{ cluster_infra_id | to_json }}
spec:
{# Do not set replicas on existing autoscaling machinesets #}
{% if machineset_name not in current_machineset_names
   or not machineset_group.autoscale|default(False)
%}
  replicas: {{ machineset_replicas | int | to_json }}
{% endif %}
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{ cluster_infra_id | to_json }}
{% if 'role' in machineset_group %}
      machine.openshift.io/cluster-api-machine-role: {{ machineset_group.role | to_json }}
      machine.openshift.io/cluster-api-machine-type: {{ machineset_group.role | to_json }}
{% endif %}
      machine.openshift.io/cluster-api-machineset: {{ machineset_name | to_json }}
  template:
    metadata:
      creationTimestamp: null
      labels:
        {{ machineset_group_label }}: {{ machineset_group.name | to_json }}
        machine.openshift.io/cluster-api-cluster: {{ cluster_infra_id | to_json }}
{% if 'role' in machineset_group %}
        machine.openshift.io/cluster-api-machine-role: {{ machineset_group.role | to_json }}
        machine.openshift.io/cluster-api-machine-type: {{ machineset_group.role | to_json }}
{% endif %}
        machine.openshift.io/cluster-api-machineset: {{ machineset_name | to_json }}
    spec:
      lifecycleHooks: {}
      metadata:
        labels:
          labels: {{ machineset_node_labels | to_json }}
% if 'taints' in machineset_taints %}
      {{ machineset_taints | to_json }}
{% endif %}
      metadata:
        creationTimestamp: null
        labels: {{ machineset_node_labels | to_json }}
      providerSpec:
        value:
          apiVersion: machine.openshift.io/v1beta1
          credentialsSecret:
            name: vsphere-cloud-credentials
          diskGiB: {{ root_volume_size | int | to_json }}
          kind: VSphereMachineProviderSpec
          memoryMiB: 32768
          metadata:
            creationTimestamp: null
          network:
            devices:
            - networkName: {{ vphere.network }}
          numCPUs: {{ machineset_numCPU }}
          numCoresPerSocket: {{ machineset_numCoresPerSocket }}
          snapshot: ""
          template: {{ vphere.template }}
          userDataSecret:
            name: worker-user-data
          workspace:
            datacenter: {{ vphere.datacenter}}
            datastore: {{ vphere.datastore}}
            folder: {{ vphere.folder}}
            resourcePool: {{ vphere.resourcePool}}
            server: {{ vphere.server}}

